

h1 {
    text-align: center;
    font-weight: 500px;
    background-color: blanchedalmond;
    border: 2px solid gold;
}

#odin {
    width: 500px;
    height: auto;
}

h2 { 
    text-decoration: underline;
}

h3 {
    text-align: center;
    background-color: blanchedalmond;
    border: 2px solid gold;
}

.links-list {
    display: flex;
}

.links-list a {
    padding: 10px;
    margin: 5px;
    border: 2px solid gold;
    text-decoration: none;
    background-color: blanchedalmond;
    color: black;
}

.links-list a:hover {
    background-color: gold;
    color: black;
    border: 2px solid blanchedalmond;
}


#fuji {
    height: 300px;
    width: auto;
}

#list {
    width: 400px;
    height: auto;
}

#aragorn {
    height: 400px;
    width: auto;
}

#sandwich {
    width: 400px;
    height: auto;
}