html {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: 500px;
    background-color: blanchedalmond;
}

#odin {
    width: 500px;
    height: auto;
}

h3 {
    text-align: center;
    background-color: blanchedalmond;
}

.links-list a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: blanchedalmond;
    color: black;
}

.links-list a:hover {
    background-color: gold;
    color: black;
}


#fuji {
    height: 300px;
    width: auto;
}

#list {
    width: 400px;
    height: auto;
}

#aragorn {
    height: 400px;
    width: auto;
}

#sandwich {
    width: 400px;
    height: auto;
}