h1 {
    text-align: center;
    font-weight: 500px;
}

#odin {
    width: 500px;
    height: auto;
}

h3 {
    text-align: center;
    background-color: blanchedalmond;
}

.page {
    background-color: blanchedalmond;
    color: black;
}

#fuji {
    height: 300px;
    width: auto;
}

#location {
    background-color: blanchedalmond;
}